
.searchsection{
        margin:auto;
        background-color:#e33661;
        padding:2%;
}

.btn {
    background-color: #411F50;
    border-color: #411F50;
}

.navbar {
    background-color: #411F50;
}

.day-name {
    color: #411F50;
    font-weight: bold;
    font-size: 1.3rem;
}

.full-date {
    color: #411F50;
    font-weight: bold;
}