.login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.registration-container {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn,
.registration-btn {
    width: 100%;
    padding: 10px;

    border-radius: 5px;
    cursor: pointer;
}

.btn-form {
    width: 49%;
    padding: 10px;

    border-radius: 5px;
    cursor: pointer;
}

.has-error {
    border: 1px solid red;
    background-color: #ffe6e6;
}


