<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--Adding external style sheet-->
    <link href="../css/homepagestyles.css" rel="stylesheet" type="text/css">

</head>
<body onload="changeOptions()">
<!--NavBar begins here-->
<!--<div th:insert="navbar :: navbar">  </div>-->
<div th:insert="(~{navbar.html})"></div>
<!--Navbar ends here-->
<!--Search Section starts here-->
<div th:insert="(~{searchbar.html})"></div>
<!--Search Section ends here-->
<div class="container">
<br>
    <!--Sorting Section starts here-->
<div class="sortSection">
<div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
        <form th:action="@{/index}" method="post">
        <div class="row">
            <div class="col-sm-4">
                <select class="form-select form-select-sm" name="timeWindow" id="timeWindow">
                    <option value="" disabled selected>Choose Trending Time Window</option>
                    <option value="day">Trending Today</option>
                    <option value="week">Trending This Week</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-select form-select-sm" name="sortBy" id="sortBy">
                    <option value="" disabled selected>SortBy</option>
                    <option value="popularity">Popularity</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-dark btn-sm" value="Apply">
            </div>
        </div>
        </form>
    </div>
</div>
</div>
    <!--Sorting Section ends here-->

<h2>Trending <span th:text="${selectedTimeWindow}"></span>..</h2>
    <span id="theNum" th:text="${productions.size()}" class="d-none"></span>
<br>
<!--Trending movies/tv display section starts here-->

<div class="displaySection">
<div class="row">
    <div class="col-sm-3" th:each="production,status:${productions}">
    <a  th:href="@{'/details/'+${production.getMedia_type()}+'/'+${production.getId()}}" style="text-decoration:none;color:black">
    <img th:src="@{'https://www.themoviedb.org/t/p/w220_and_h330_face'+${production.getPosterPath()}}">
    <br>
    <b><span th:text="${production.getName()}"></span></b>
        <span th:if="${production.getMedia_type()} eq 'movie'">(Movie)</span>
        <span th:unless="${production.getMedia_type()} eq 'movie'">(Tv)</span>
        <span th:text="${status.index}" id="myId"></span>

    <!--<span th:text="${production.getPopularity()}"></span>-->
    <!--<span th:text="${production.getMedia_type()}"></span>-->
    <br>
    </a>
        <!--<a  th:href="@{'/details/'+${production.getMedia_type()}+'/'+${production.getId()}}" style="text-decoration:none;color:black" class="btn btn-dark">More Details</a>-->
        <button type="button" class="btn btn-dark btn-sm"
                data-bs-toggle="modal" th:data-bs-target="|#addToMyPlanForm${status.index}|" th:attr="data-bs-target='#addToMyPlanForm'+${status.index}">Add to My Plan
        </button>
        <br><br>
        <!-- Modal -->

            <div class="modal fade" th:id="addToMyPlanForm+${status.index}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/addtoplan/'+${production.getMedia_type()}}"  method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Choose a date</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row d-none">
                                <div class="col-sm-3">
                                    <!--<label for="productionId">Production ID: </label>-->
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" id="productionId" name="productionId" class="form-control" th:value="${production.getId()}"  required/>
                                </div>
                                <div class="invalid-feedback">Please fill out this field</div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <label th:for="date">Select Date: </label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="date" id="date" name="date" class="form-control"  th:disabled="${#lists.isEmpty(production.offers)}" required>
                                </div>
                                <div class="invalid-feedback">Please fill out this field</div>
                            </div>
                        </div>
                            <!--where to watch starts-->
                            <div class="row">
                                <div data-jw-widget
                                     data-api-key="ABCdef12"
                                     th:attr="data-object-type=${production.getMedia_type() eq 'movie'?'movie':'show'},
                     data-title=${#strings.toLowerCase(production.getName())},
                     data-year=${production.getReleaseYear()},
                     data-theme='light'"
                                ></div>
                                <div style="">
                                    <a style="display:flex; font-size: 11px; font-family: sans-serif; color: black; text-decoration: none; align-items:center;"
                                       target="_blank" data-original="https://www.justwatch.com" href="https://www.justwatch.com">
                                        <img alt="JustWatch" height="11px"
                                             src="https://widget.justwatch.com/assets/JW_logo_color_10px.svg">
                                    </a>
                                </div>
                                <script async src="https://widget.justwatch.com/justwatch_widget.js"></script>
                            </div>
                            <!--where to watch ends-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-danger" th:if="${not #lists.isEmpty(production.offers)}">Select</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        <!--Modal ends here-->
    </div>

</div>

</div>
<!--Trending movies/tv display section ends here-->

</div>
<script>
    var today = new Date().toISOString().split('T')[0];

    const maxDate = new Date();
    maxDate.setDate(maxDate.getDate() + 30);
    const [maxDateFormatted] = maxDate.toISOString().split('T');

    console.log(document.getElementById("theNum"))
    var l=document.getElementById("theNum").innerHTML
    console.log(l)
    for(let i=0;i<l;i++){
    var theId="addToMyPlanForm"+i;
    document.getElementById(theId).childNodes[1].childNodes[1].childNodes[1].childNodes[4].childNodes[3].childNodes[3].childNodes[1].setAttribute("min",today)
    document.getElementById(theId).childNodes[1].childNodes[1].childNodes[1].childNodes[4].childNodes[3].childNodes[3].childNodes[1].setAttribute("max",maxDateFormatted)
    }

</script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script>
    var movieGenres=[
    {
      "id": 28,
      "name": "Action"
    },
    {
      "id": 12,
      "name": "Adventure"
    },
    {
      "id": 16,
      "name": "Animation"
    },
    {
      "id": 35,
      "name": "Comedy"
    },
    {
      "id": 80,
      "name": "Crime"
    },
    {
      "id": 99,
      "name": "Documentary"
    },
    {
      "id": 18,
      "name": "Drama"
    },
    {
      "id": 10751,
      "name": "Family"
    },
    {
      "id": 14,
      "name": "Fantasy"
    },
    {
      "id": 36,
      "name": "History"
    },
    {
      "id": 27,
      "name": "Horror"
    },
    {
      "id": 10402,
      "name": "Music"
    },
    {
      "id": 9648,
      "name": "Mystery"
    },
    {
      "id": 10749,
      "name": "Romance"
    },
    {
      "id": 878,
      "name": "Science Fiction"
    },
    {
      "id": 10770,
      "name": "TV Movie"
    },
    {
      "id": 53,
      "name": "Thriller"
    },
    {
      "id": 10752,
      "name": "War"
    },
    {
      "id": 37,
      "name": "Western"
    }
  ]


  var tvGenres=[
    {
      "id": 10759,
      "name": "Action & Adventure"
    },
    {
      "id": 16,
      "name": "Animation"
    },
    {
      "id": 35,
      "name": "Comedy"
    },
    {
      "id": 80,
      "name": "Crime"
    },
    {
      "id": 99,
      "name": "Documentary"
    },
    {
      "id": 18,
      "name": "Drama"
    },
    {
      "id": 10751,
      "name": "Family"
    },
    {
      "id": 10762,
      "name": "Kids"
    },
    {
      "id": 9648,
      "name": "Mystery"
    },
    {
      "id": 10763,
      "name": "News"
    },
    {
      "id": 10764,
      "name": "Reality"
    },
    {
      "id": 10765,
      "name": "Sci-Fi & Fantasy"
    },
    {
      "id": 10766,
      "name": "Soap"
    },
    {
      "id": 10767,
      "name": "Talk"
    },
    {
      "id": 10768,
      "name": "War & Politics"
    },
    {
      "id": 37,
      "name": "Western"
    }
  ]

    function changeOptions(){

    if(document.getElementById("productionType").value=="movie")
    {
        var element=document.getElementById("searchGenre");
        var child=element.lastChild;
        while(child){
            element.removeChild(child);
            child=element.lastChild;
        }
        for(i=0;i<movieGenres.length;i++){
            var newOption=document.createElement("option");
            newOption.value=movieGenres[i].id;
            newOption.innerHTML=movieGenres[i].name;
            element.appendChild(newOption);
        }
    }
    else{
        var element=document.getElementById("searchGenre");
        var child=element.lastChild;
        while(child){
            element.removeChild(child);
            child=element.lastChild;
        }
        for(i=0;i<tvGenres.length;i++){
            var newOption=document.createElement("option");
            newOption.value=tvGenres[i].id;
            newOption.innerHTML=tvGenres[i].name;
            element.appendChild(newOption);
        }
    }


    }
</script>
</body>
</html>