<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${production.name}">Movie Profile</title>
    <meta name="author" content="L. Murphy-Delgado"/>
    <meta name="description" content="This is page generates when the user has selected a movie/tv show by its ID"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body onload="changeOptions()">
<!--Nav bar and search bar begin here-->
<div th:insert="navbar :: navbar"></div>
<br>
<div class="searchsection" style="margin:auto">
    <!--<form th:action="@{/search-results}" method="post">-->
    <form th:action="@{/search-results-new}" method="post">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-2"><label for="searchQuery" class="form-label">Search</label></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="searchQuery" name="searchQuery">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <select class="form-select" name="productionType" id="productionType" onchange="changeOptions()">
                        <option value="movie">Movie</option>
                        <option value="tv">Tv</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-select" name="searchGenre" id="searchGenre">
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-dark" value="Search">
                </div>


            </div>
        </div>
    </form>
</div>
<!--nav bar and search bar end here-->
<!--Profile Page begins here-->
<div>
    <main lang="en-GB">
        <div id="header" class="mx-2">
            <h1 th:text="${production.name}">Movie Title</h1>
        </div>
        <div id="content" class="container-fluid">
            <div class="w-25 float-end col border border-1 rounded ">
                <div class="mt-3 mx-3 text-center">
                    <button type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#addToMyPlanForm">Add to My Plan
                    </button>
                </div>
                <!-- Modal -->
                <form th:action="@{/myplan/create}" th:object="${myPlanEntry}" method="post">
                    <div class="modal fade" id="addToMyPlanForm" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Choose a date</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="productionId">Production ID: </label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" id="productionId" name="productionId" class="form-control" th:field="*{productionId}"  th:placeholder="${production.id}" required/>
                                        </div>
                                        <div class="invalid-feedback">Please fill out this field</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="mediaType">Is this a movie: </label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="text" id="mediaType" name="mediaType" class="form-control" th:field="*{movie}"  placeholder="true" required/>
                                        </div>
                                        <div class="invalid-feedback">Please fill out this field</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="date">Select Date: </label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="date" id="date" name="date" class="form-control" th:field="*{date}" required>
                                        </div>
                                        <div class="invalid-feedback">Please fill out this field</div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="mt-3 mx-3 text-center"><h2 th:text="${production.name}">Movie Title</h2></div>
                <div class="mx-3 text-center text-capitalize"><h3 th:text="'('+${production.media_type}+')'">(Type)</h3>
                </div>
                <div class="mt-3 mx-3 text-center">
                    <img th:if="${production.posterPath!=null}"
                         th:src="@{'https://www.themoviedb.org/t/p/w220_and_h330_face'+${production.getPosterPath()}}"
                         class="img-thumbnail" style="width:200px">
                    <img th:unless="${production.posterPath!=null}"
                         src="https://i0.wp.com/moviemarker.co.uk/wp-content/uploads/NoPosterAvailable.jpg" alt="Poster"
                         class="img-thumbnail" style="width:200px">
                </div>
                <div>
                    <table class="table mt-3 border-top">
                        <tr th:if="${production.genres!=null}">
                            <th>Genre</th>
                            <td class="border-start">
                                <ul class="list-unstyled" th:each="genre:${production.genres}">
                                    <li th:text="${genre.name}">Romance</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Release Date</th>
                            <td class="border-start" th:text="${production.releaseDate}"></td>
                        </tr>
                        <tr th:if="${production.runtime!=null}"
                            th:with="h=${production.runtime}/60,m=${production.runtime}%60">
                            <th>Runtime</th>
                            <td class="border-start"
                                th:if="${h>0}" th:text="${#numbers.formatInteger(h - (h%1),0)}+'h '+${m}+'m'"
                            ></td>
                            <td class="border-start"
                                th:if="${h<0}" th:text="${m}+'m'"
                            ></td>
                        </tr>


                        <tr>
                            <th>User Score</th>
                            <td class="border-start"
                                th:text="${#numbers.formatPercent((production.voteAverage/10),1,0)}"></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td class="border-start" th:text="${production.status}"></td>
                        </tr>
                        <tr th:if="${production.crew!=null}">
                            <th>Directors</th>
                            <td class="border-start">
                                <ul class="list-unstyled" th:each="crew:${production.crew}">
                                    <li th:if="${crew.job=='Director'}" th:text="${production.name}">Name</li>
                                </ul>
                            </td>
                        </tr>
                        <tr th:if="${production.spokenLanguages!=null}">
                            <th>Languages</th>
                            <td class="border-start">
                                <ul class="list-unstyled" th:each="language:${production.spokenLanguages}">
                                    <li th:text="${language.englishName}"></li>
                                </ul>
                            </td>
                        </tr>
                        <tr th:if="${production.productionCountries!=null}">
                            <th>Countries</th>
                            <td class="border-start">
                                <ul class="list-unstyled" th:each="country:${production.productionCountries}">
                                    <li th:text="${country.name}"></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="maincontent" class="w-75 col pe-3">
                <div class="mx-3">
                    <p th:text="${production.tagline}">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="mx-3">
                    <h4 class="border-bottom">Content</h4>
                    <ol class="list-unstyled mx-3">
                        <li><a href="#Overview" th:if="${production.overview!=null}">Overview</a></li>
                        <li><a href="#Offers" th:if="${production.offers!=null}">Where to Watch</a></li>
                    </ol>
                </div>
                <div th:if="${production.overview!=null}" class="mx-3">
                    <h4 id="Overview" class="border-bottom">Overview</h4>
                    <p th:text="${production.overview}">Lorem ipsum dolor sit amet.</p>
                </div>
                <div th:if="${production.offers!=null}" class="mx-3">
                    <h4 id="Offers" class="border-bottom">Where to Watch</h4>
                    <div data-jw-widget
                         data-api-key="ABCdef12"
                         th:attr="data-object-type=${production.media_type},
                     data-title=${production.name},
                     data-year=${production.releaseYear},
                     data-theme='light'"
                    ></div>
                    <div style="">
                        <a style="display:flex; font-size: 11px; font-family: sans-serif; color: black; text-decoration: none; align-items:center;"
                           target="_blank" data-original="https://www.justwatch.com" href="https://www.justwatch.com">
                            <img alt="JustWatch" height="11px"
                                 src="https://widget.justwatch.com/assets/JW_logo_color_10px.svg">
                        </a>
                    </div>
                    <script async src="https://widget.justwatch.com/justwatch_widget.js"></script>
                </div>
            </div>
        </div>
        <div id="footer" class="mx-3">
        </div>
    </main>
</div>
<script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementById("date").setAttribute("min", today);

    const maxDate = new Date().toISOString().split('T')[0];
    maxDate.setDate(maxDate.getDate() + 30);
    const [maxDateFormatted] = maxDate.toISOString().split('T');

    document.getElementById("date").setAttribute("max", maxDateFormatted);

</script>
<!--search bar script begins here-->
<script>
    var movieGenres = [
        {
            "id": 28,
            "name": "Action"
        },
        {
            "id": 12,
            "name": "Adventure"
        },
        {
            "id": 16,
            "name": "Animation"
        },
        {
            "id": 35,
            "name": "Comedy"
        },
        {
            "id": 80,
            "name": "Crime"
        },
        {
            "id": 99,
            "name": "Documentary"
        },
        {
            "id": 18,
            "name": "Drama"
        },
        {
            "id": 10751,
            "name": "Family"
        },
        {
            "id": 14,
            "name": "Fantasy"
        },
        {
            "id": 36,
            "name": "History"
        },
        {
            "id": 27,
            "name": "Horror"
        },
        {
            "id": 10402,
            "name": "Music"
        },
        {
            "id": 9648,
            "name": "Mystery"
        },
        {
            "id": 10749,
            "name": "Romance"
        },
        {
            "id": 878,
            "name": "Science Fiction"
        },
        {
            "id": 10770,
            "name": "TV Movie"
        },
        {
            "id": 53,
            "name": "Thriller"
        },
        {
            "id": 10752,
            "name": "War"
        },
        {
            "id": 37,
            "name": "Western"
        }
    ]


    var tvGenres = [
        {
            "id": 10759,
            "name": "Action & Adventure"
        },
        {
            "id": 16,
            "name": "Animation"
        },
        {
            "id": 35,
            "name": "Comedy"
        },
        {
            "id": 80,
            "name": "Crime"
        },
        {
            "id": 99,
            "name": "Documentary"
        },
        {
            "id": 18,
            "name": "Drama"
        },
        {
            "id": 10751,
            "name": "Family"
        },
        {
            "id": 10762,
            "name": "Kids"
        },
        {
            "id": 9648,
            "name": "Mystery"
        },
        {
            "id": 10763,
            "name": "News"
        },
        {
            "id": 10764,
            "name": "Reality"
        },
        {
            "id": 10765,
            "name": "Sci-Fi & Fantasy"
        },
        {
            "id": 10766,
            "name": "Soap"
        },
        {
            "id": 10767,
            "name": "Talk"
        },
        {
            "id": 10768,
            "name": "War & Politics"
        },
        {
            "id": 37,
            "name": "Western"
        }
    ]

    function changeOptions() {

        if (document.getElementById("productionType").value == "movie") {
            var element = document.getElementById("searchGenre");
            var child = element.lastChild;
            while (child) {
                element.removeChild(child);
                child = element.lastChild;
            }
            for (i = 0; i < movieGenres.length; i++) {
                var newOption = document.createElement("option");
                newOption.value = movieGenres[i].id;
                newOption.innerHTML = movieGenres[i].name;
                element.appendChild(newOption);
            }
        } else {
            var element = document.getElementById("searchGenre");
            var child = element.lastChild;
            while (child) {
                element.removeChild(child);
                child = element.lastChild;
            }
            for (i = 0; i < tvGenres.length; i++) {
                var newOption = document.createElement("option");
                newOption.value = tvGenres[i].id;
                newOption.innerHTML = tvGenres[i].name;
                element.appendChild(newOption);
            }
        }

    }
</script>
<!--search bar script begins here-->
</body>
</html>