<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <link href="../css/homepagestyles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="(~{navbar.html})"></div>
<div th:insert="(~{searchbar.html})"></div>
<br>
<div class="container">
  <div th:insert="(~{my-plan.html :: planDateSelector})">
  </div>
  <div th:if="${!entries.isEmpty()}">
    <div th:insert="(~{my-plan.html :: editButton})">
    </div>
  </div>
  <div class="date-entry-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-2 text-left">
        <p class="day-name" th:text="${#dates.format(date, 'EEEE')}"></p>
        <p class="full-date" th:text="${#dates.format(date, 'dd MMMM yyyy')}"></p>
      </div>
      <div class="col-md-10">
        <div class="row justify-content-start">
          <div class="col-xs" th:if="${!entries.isEmpty()}" th:each="entry:${entries}">
            <div th:with="production=${entry.getValue()}">
              <div th:insert="(~{my-plan.html :: productionDisplay})"></div>
              <div th:insert="(~{my-plan.html :: editButtons})"></div>
              <form th:action="@{/myplan/delete}" th:method="delete">
                <div class="modal fade"
                     th:id="'deleteConfirmationModal' + ${entry.getKey()}"
                     tabindex="-1" role="dialog"
                     aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete
                          Confirmation</h5>
                      </div>
                      <div class="modal-body">
                        <p th:text="${production.getName()} + ' scheduled for ' + ${#dates.format(date, 'E, dd MMM yyyy')}"></p>
                        <input type="hidden" id="entryId" name="entryId"
                               th:value="${entry.getKey()}">
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                          Cancel
                        </button>
                        <button class="btn btn-primary" type="submit">Confirm</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div th:insert="(~{my-plan.html :: updateDateModal})"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <p th:unless="${!entries.isEmpty()}">No movies or TV shows have been assigned to this
          day.</p>
      </div>
    </div>
  </div>
</div>
<div th:insert="(~{my-plan.html :: dateModalScript})"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>